$datepicker__background-color: rgb(33, 37, 41);
$datepicker__border-color: #aeaeae;
$datepicker__highlighted-color: #3dcc4a;
$datepicker__muted-color: rgb(255, 255, 255);
$datepicker__selected-color: #216ba5;
$datepicker__text-color: rgb(255, 255, 255);
$datepicker__header-color: rgb(255, 255, 255);
$datepicker__navigation-disabled-color: lighten(
  $datepicker__muted-color,
  10%
);

@import "react-datepicker/src/stylesheets/datepicker.scss";

.react-datepicker {
    background-color: $datepicker__background-color;
}

.react-datepicker__time-list {
    background-color: $datepicker__background-color;
}