// bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg: rgb(19, 21, 22);
$text-color: $light;

body, html, #root {
    background-color: $body-bg;
    color: $text-color;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}

.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}*/